body {
  font-family: sans-serif;
}

.container {
  align-items: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.app {
  background: linear-gradient(rgb(0, 173, 226), rgb(101, 219, 255));
  border: 1px solid black;
  border-radius: 8px;
  color: black;
  width: 36em;
}

.formContent {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.445);
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  padding: 0.5em;
  width: 80%;
}

form {
  padding: 0 2em;
}

.formContent form * {
  margin: 0.25em 0;
  padding: 0.25em 0;
}

label {
  font-weight: bold;
}

input {
  border-radius: 7px;
}

.header {
  background-color: rgba(255, 255, 255, 0.445);
  border-radius: 8px;
  margin: 1em auto;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}

.btn {
  margin: 1em 0;
  font-size: 1.25em;
  width: 100%;
  background: rgb(61, 124, 196);
  border: 1px solid rgb(61, 124, 196);
  border-radius: 8px;
  color: white;
  margin: 0.5em auto;
  padding: 0.15em;
  text-align: center;
  text-shadow: 2px 2px 3px rgb(42, 84, 133);
  transition-duration: 0.2s;
}

.btn:hover {
  background: rgb(42, 84, 133);
  cursor: pointer;
}

.red {
  border: 2px solid red;
}

.green {
  border: 2px solid green;
}
