* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', sans-serif;
    background: #DC6F6F;
}

h1 {
    font-size: 2em;
}

img {
    border-radius: 15px;
}

#controls {
    display: flex;
    justify-content: center;
}

#header {
    width: 100%;
    background-color: #292929;
    color: #FFFFFF;
    text-align: center;
    padding: .5em;
    border-radius: 15px;
    text-shadow: 2px 2px 15px #841818;
    align-items: center;
    margin: auto;
}

#instructions {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

#footer {
    text-align: center;
    margin-top: 1em;
    font-size: 20px;
}

#gameboard {
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    height: 600px;
    width: 700px;
    margin: auto;
}

#victoryText {
    background-color: #292929;
    color: #ffffff;
    text-shadow: 2px 2px 15px #841818;
    display: flex;
    justify-content: center;
    font-size: 16pt;
}

.btn {
    background-color: #292929;
    color: #ffffff;
    text-shadow: 2px 2px 15px #841818;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24pt;
    display: inline-block;
    padding: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.card {
    padding: 1em;
    width: 50%;
    flex: 1;
    text-align: center;
    align-items: center;
}

/* -------- media queries -------------- */

@media only screen and (max-width: 600px) {
    img { 
        width: 10em;
        border-radius: 8px;
    }

    h1 {
        font-size: 2em;
    }

    #gameboard {
        background-color: #FFFFFF;
        border-radius: 15px;
        display: flex;
        height: 400px;
        width: 400px;
        margin: auto;
    }

}

@media only screen and (min-width: 600px) {

    h1 {
        font-size: 3em;
    }

    img { 
        width: 10em;
        border-radius: 8px;
    }

    #gameboard {
        background-color: #FFFFFF;
        border-radius: 15px;
        display: flex;
        height: 400px;
        width: 400px;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4em;
    }

    img { 
        width: 16em;
        border-radius: 8px;
    }

    #gameboard {
        background-color: #FFFFFF;
        border-radius: 15px;
        display: flex;
        height: 500px;
        width: 600px;
        margin: auto;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 4em;
    }

    img { 
        width: 16em;
        border-radius: 8px;
    }

    #gameboard {
        background-color: #FFFFFF;
        border-radius: 15px;
        display: flex;
        height: 500px;
        width: 700px;
        margin: auto;
    }
}



/* -------------- css animations --------------- */
.spinRight {
    animation: spinRight 0.25s linear;
}

.spinLeft {
    animation: spinLeft 0.25s linear;
}

.fadeIn {
    animation: fadeIn 1s linear;
}

@keyframes spinRight {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

@keyframes spinLeft {
    from { transform: rotate(0deg); }
    to { transform: rotate(-360deg); }
}

@keyframes fadeIn {
    0% {opacity: 0;}
    25% {opacity: 0;}
    75% {opacity: 1;}
}